@import "tailwindcss";

/* 页面内容统一禁止文字选择与图片拖拽 */
.no-select {
  -webkit-touch-callout: none; /* iOS 禁止长按菜单 */
  user-select: none;
}
.no-select img,
.no-select svg {
  -webkit-user-drag: none; /* 禁止图片/矢量拖拽 */
  user-select: none;
}

/* 强制 Monaco 编辑器高度为 100% */
.monaco-editor,
.monaco-editor .overflow-guard {
  height: 100% !important;
}